option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: aws
    PORT: 8081
    JWT_SECRET: "PUt7F<D`!=K%hf{C8mv?_z"
    JWT_REFRESH_SECRET: "e~\"2ZKs3B5=Nn<Av68D$-J"
    DB_NAME: lucky_deck_gaming
    DB_USER: luckydeck_admin
    DB_PASS: "OMGunibet2025##"
    DB_HOST: luckydeck-db.c5yey0uawbfm.eu-north-1.rds.amazonaws.com
    REDIS_HOST: luckydeck-redis.qaiuda.0001.eun1.cache.amazonaws.com
    REDIS_PORT: 6379
    REDIS_TTL: 3600
    DOMAIN: luckydeck-gaming-node20.elasticbeanstalk.com
    GOOGLE_CLIENT_ID: "790086405228-ff3tfluh6dpt4jvv14bgdfl4qgf4if1e.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET: "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"
    GOOGLE_CALLBACK_URL: "https://luckydeck-gaming-node20.eba-g65ct3bf.us-west-2.elasticbeanstalk.com/api/auth/google/callback"
